<div id="<%= dom_id inventory %>">
  <p class="my-5 text-center">
    <strong class="block font-bold text-3xl mb-1"><%= inventory.name %></strong>
    
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this inventory", inventory, class: "rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium" %>
    <%= link_to 'Edit this inventory', edit_inventory_path(inventory), class: "rounded-lg py-3 ml-2 px-5 bg-orange-500 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
