<div class="bg-white rounded shadow p-4 flex">
  <!-- Left Column -->
  <div class="w-1/4 pr-4">
    <h2 class="text-xl font-bold">
      <%= link_to recipe.name, recipe_path(recipe), class: 'hover:underline' %>
    </h2>

    <% if current_user && current_user.id == recipe.user_id %>
      <div class="mt-4">
        <%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }, class: 'text-red-500 hover:text-red-600' %>
      </div>
    <% end %>
  </div>

  <!-- Right Column -->
  <div class="w-3/4">
    <p class="text-gray-700 mt-2"><%= recipe.description %></p>
  </div>
</div>
