<div id="<%= dom_id food %>">
<div class="flex border-2 border-slate-300 my-2 w-4/6 mx-auto">



    <strong class="block font-bold text-3xl text-slate-900 mb-1">
     <%= link_to food.name, food, class: " py-3 px-5  inline-block font-medium" %>
     </strong>


</div>



</div>
